#include "./Base/App.xcconfig"

DEVELOPMENT_ASSET_PATHS = "ApproachIOS/Preview Content"
INFOPLIST_FILE = Approach/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Approach
PRODUCT_BUNDLE_IDENTIFIER = ca.josephroque.approach

TELEMETRY_DECK_API_KEY = $(TELEMETRY_DECK_API_KEY_$(CONFIGURATION))
TELEMETRY_DECK_API_KEY_Debug=DISABLE
TELEMETRY_DECK_API_KEY_Release=DISABLE
