#include "./Base/App.xcconfig"

DEVELOPMENT_ASSET_PATHS = "ApproachIOS/Preview Content"
INFOPLIST_FILE = Approach/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Approach
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.sports
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(CONFIGURATION))
PRODUCT_BUNDLE_IDENTIFIER_Debug = ca.josephroque.approach.debug
PRODUCT_BUNDLE_IDENTIFIER_Release = ca.josephroque.approach
ASSETCATALOG_COMPILER_ALTERNATE_APPICON_NAMES = AppIcon-Christmas AppIcon-Bisexual AppIcon-Pride AppIcon-Trans AppIcon-Default AppIcon-Purple
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS = YES

TELEMETRY_DECK_API_KEY = $(TELEMETRY_DECK_API_KEY_$(CONFIGURATION))
TELEMETRY_DECK_API_KEY_Debug=
TELEMETRY_DECK_API_KEY_Release=

FACEBOOK_APP_ID = $(FACEBOOK_APP_ID_$(CONFIGURATION))
FACEBOOK_APP_ID_Debug=
FACEBOOK_APP_ID_Release=

FACEBOOK_URL_SCHEME = $(FACEBOOK_URL_SCHEME_$(CONFIGURATION))
FACEBOOK_URL_SCHEME_Debug=
FACEBOOK_URL_SCHEME_Release=

REVENUE_CAT_API_KEY = $(REVENUE_CAT_API_KEY_$(CONFIGURATION))
REVENUE_CAT_API_KEY_Debug=
REVENUE_CAT_API_KEY_Release=

SENTRY_DSN = $(SENTRY_DSN_$(CONFIGURATION))
SENTRY_DSN_Debug=
SENTRY_DSN_Release=

#include? "./Secrets.xcconfig"
