name = "Approach"
tools_version = "5.10"
default_localization = "en"

# Platforms

[platforms.iOS]
supported = [ "\"17.0\"" ]

# Features

[features.App]
features = [ "AccessoriesOverview", "BowlersList", "Onboarding", "Settings", "StatisticsOverview" ]
services = [ "Launch" ]
dependencies = [ "AppInfoPackageService", "BundlePackageService", "FeatureFlagsPackageService", "FileManagerPackageService", "GRDBDatabasePackageService", "PasteboardPackageService", "SentryErrorReportingPackageService", "StoreReviewPackageService", "TelemetryDeckAnalyticsPackageService", "UserDefaultsPackageService" ]

[features.AccessoriesOverview]
features = [ "AlleysList", "GearList" ]
dependencies = [ "Algorithms" ]

[features.AddressLookup]
repositories = [ "Locations" ]
services = [ "AddressLookup" ]
libraries = [ "Views" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[features.AlleyEditor]
features = [ "AddressLookup", "Form", "LaneEditor" ]
repositories = [ "Alleys" ]
libraries = [ "ModelsViews" ]

[features.AlleysList]
features = [ "AlleyEditor" ]
libraries = [ "FeatureFlags", "ResourceList" ]
dependencies = [ "ExtensionsPackageLibrary" ]

[features.Announcements]
services = [ "Announcements" ]

[features.ArchiveList]
features = [ "Errors" ]
repositories = [ "Bowlers", "Games", "Leagues", "Series" ]
libraries = [ "DateTime", "ModelsViews" ]

[features.AvatarEditor]
services = [ "Avatar" ]
libraries = [ "FeatureFlags", "Views" ]
dependencies = [ "EquatablePackageLibrary", "ExtensionsPackageLibrary" ]

[features.BowlerDetails]
features = [ "BowlerEditor", "LeaguesList" ]

[features.BowlerEditor]
features = [ "Form" ]
repositories = [ "Bowlers" ]

[features.BowlersList]
features = [ "Announcements", "BowlerDetails" ]
repositories = [ "QuickLaunch" ]

[features.Errors]
services = [ "Email", "Logging" ]
libraries = [ "Constants", "Toast", "Views" ]
dependencies = [ "AppInfoPackageServiceInterface", "EquatablePackageLibrary", "FileManagerPackageServiceInterface", "PasteboardPackageServiceInterface" ]

[features.FeatureFlagsList]
libraries = [ "FeatureFlags", "Strings" ]

[features.Form]
features = [ "Errors" ]

[features.GamesEditor]
features = [ "StatisticsDetails" ]
repositories = [ "Frames", "Gear", "Lanes" ]
services = [ "Avatar" ]
libraries = [ "FeatureFlags" ]
dependencies = [ "StoreReviewPackageServiceInterface" ]

[features.GamesList]
features = [ "GamesEditor", "SeriesEditor" ]
libraries = [ "ResourceList" ]

[features.GearEditor]
features = [ "AvatarEditor", "Form" ]
repositories = [ "Bowlers", "Gear" ]
libraries = [ "PickableModels" ]

[features.GearList]
features = [ "GearEditor" ]
services = [ "RecentlyUsed" ]
libraries = [ "ResourceList", "SortOrder" ]

[features.ImportExport]
features = [ "Errors" ]
services = [ "ImportExport", "Preference" ]
libraries = [ "DateTime" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[features.LaneEditor]
libraries = [ "Models", "Views" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[features.LeagueEditor]
features = [ "Form" ]
repositories = [ "Alleys", "Leagues" ]
libraries = [ "ModelsViews", "PickableModels" ]

[features.LeaguesList]
features = [ "SeriesList", "StatisticsWidgetsLayout" ]

[features.OpponentDetails]
features = [ "BowlerEditor" ]
repositories = [ "Games" ]
libraries = [ "ResourceList" ]

[features.OpponentsList]
features = [ "OpponentDetails" ]
services = [ "RecentlyUsed" ]
libraries = [ "FeatureFlags", "ModelsViews", "SortOrder" ]
dependencies = [ "ExtensionsPackageLibrary" ]

[features.Onboarding]
repositories = [ "Bowlers" ]
libraries = [ "Views" ]
dependencies = [ "ExtensionsPackageLibrary", "SwiftUIExtensionsPackageLibrary" ]

[features.Paywall]
features = [ "Errors" ]
services = [ "Products" ]

[features.SeriesEditor]
features = [ "Form" ]
repositories = [ "Alleys", "Series" ]
libraries = [ "DateTime", "ModelsViews", "PickableModels" ]

[features.SeriesList]
features = [ "GamesList", "LeagueEditor" ]
libraries = [ "SortOrder" ]

[features.Settings]
features = [ "ArchiveList", "FeatureFlagsList", "ImportExport", "OpponentsList" ]
services = [ "AppIcon", "DatabaseMocking", "Products" ]
dependencies = [ "BundlePackageServiceInterface" ]

[features.Sharing]
features = [ "StatisticsWidgetEditor" ]
repositories = [ "Games", "Scores", "Series" ]
libraries = [ "ScoreSheet" ]

[features.StatisticsOverview]
features = [ "StatisticsDetails" ]

[features.StatisticsDetails]
features = [ "Sharing" ]
services = [ "Notifications", "RecentlyUsed", "Preference", "Tips" ]

[features.StatisticsWidgetEditor]
features = [ "Errors" ]
repositories = [ "Bowlers", "Leagues", "StatisticsWidgets" ]
libraries = [ "ModelsViews", "PickableModels" ]
dependencies = [ "ExtensionsPackageLibrary" ]

[features.StatisticsWidgetsLayout]
features = [ "StatisticsDetails" ]
libraries = [ "Reordering" ]

# Repositories

[repositories.Alleys]
services = [ "RecentlyUsed" ]
libraries = [ "StatisticsModels" ]
[repositories.Alleys.interface]
repositories = [ "Lanes", "Locations" ]

[repositories.Bowlers]
services = [ "RecentlyUsed" ]
libraries = [ "StatisticsModels" ]

[repositories.Frames]
[repositories.Frames.interface]
libraries = [ "ScoreKeeper" ]
dependencies = [ "ExtensionsPackageLibrary" ]

[repositories.Games]
dependencies = [ "ExtensionsPackageLibrary" ]
[repositories.Games.interface]
repositories = [ "MatchPlays" ]

[repositories.Gear]
services = [ "RecentlyUsed" ]

[repositories.Lanes]

[repositories.Leagues]
services = [ "RecentlyUsed" ]
libraries = [ "StatisticsModels" ]

[repositories.Locations]

[repositories.MatchPlays]

[repositories.QuickLaunch]
services = [ "RecentlyUsed"]
repositories = [ "Leagues" ]

[repositories.Scores]
repositories = [ "Frames", "Games" ]
[repositories.Scores.tests]
repositories = [ "Frames", "Games" ]

[repositories.Series]
[repositories.Series.interface]

[repositories.Statistics]
services = [ "Preference", "RecentlyUsed" ]
libraries = [ "FeatureFlags", "StatisticsModels" ]
dependencies = [ "UserDefaultsPackageServiceInterface" ]
[repositories.Statistics.interface]
libraries = [ "StatisticsWidgets" ]
dependencies = [ "Collections" ]

[repositories.StatisticsWidgets]
[repositories.StatisticsWidgets.interface]
repositories = [ "Statistics" ]
[repositories.StatisticsWidgets.tests]
repositories = [ "Statistics" ]

# Services

[services.AddressLookup]
[services.AddressLookup.interface]
libraries = [ "Models" ]
dependencies = [ "EquatablePackageLibrary", "XCTestDynamicOverlay" ]

[services.Analytics]
dependencies = [ "Sentry" ]
[services.Analytics.interface]
dependencies = [ "AnalyticsPackageServiceInterface", "ComposableArchitecture", "DependenciesMacros", "ErrorReportingClientPackageLibrary" ]

[services.Announcements]
dependencies = [ "UserDefaultsPackageServiceInterface" ]
[services.Announcements.interface]
libraries = [ "Announcements" ]

[services.AppIcon]
skip_tests = true
[services.AppIcon.interface]
libraries = [ "Assets" ]

[services.Avatar]
dependencies = [ "ExtensionsPackageLibrary" ]
[services.Avatar.interface]
libraries = [ "ModelsViews" ]

[services.Database]
libraries = [ "DatabaseMigrations" ]
dependencies = [ "FileManagerPackageServiceInterface" ]
[services.Database.interface]
suitable_for_dependents_matching = "\\w+Repository$"
dependencies = [ "DependenciesMacros", "GRDB", "GRDBDatabasePackageServiceInterface" ]

[services.DatabaseMocking]
skip_tests = true

[services.Email]

[services.ImportExport]
services = [ "Database" ]
libraries = [ "DateTime" ]
dependencies = [ "FileManagerPackageServiceInterface" ]
[services.ImportExport.interface]
dependencies = [ "DependenciesMacros" ]

[services.Launch]
services = [ "Analytics", "Preference", "Products" ]
libraries = [ "FeatureFlags" ]
dependencies = [ "AppInfoPackageServiceInterface", "StoreReviewPackageServiceInterface", "UserDefaultsPackageServiceInterface" ]

[services.Logging]
services = [ "ZIP" ]
dependencies = [ "CocoaLumberjack", "CocoaLumberjackSwift" ]

[services.Notifications]

[services.Preference]
dependencies = [ "UserDefaultsPackageServiceInterface" ]
[services.Preference.interface]
dependencies = [ "DependenciesMacros"]

[services.Products]
libraries = [ "Constants" ]
dependencies = [ "BundlePackageServiceInterface", "RevenueCat" ]
[services.Products.interface]
libraries = [ "Products" ]

[services.RecentlyUsed]
dependencies = [ "Algorithms", "UserDefaultsPackageServiceInterface" ]
[services.RecentlyUsed.interface]
libraries = [ "Statistics" ]
dependencies = [ "ComposableArchitecture" ]

[services.Tips]
dependencies = [ "UserDefaultsPackageServiceInterface" ]
[services.Tips.interface]
libraries = [ "Tips" ]

[services.ZIP]
dependencies = [ "FileManagerPackageServiceInterface", "ZIPFoundation" ]
[services.ZIP.interface]
dependencies = [ "DependenciesMacros" ]

# Libraries

[libraries.Announcements]
libraries = [ "Views" ]
dependencies = [ "Dependencies" ]

[libraries.Assets]
skip_tests = true
dependencies = [ "SFSafeSymbols" ]
[libraries.Assets.resources]
processed = [ "Resources" ]

[libraries.ComposableExtensions]
skip_tests = true
dependencies = [ "ComposableArchitecture", "IdentifiedCollections" ]

[libraries.Constants]
skip_tests = true
libraries = [ "Strings" ]
dependencies = [ "Dependencies" ]
[libraries.Constants.resources]
processed = [ "Resources" ]

[libraries.DatabaseMigrations]
skip_tests = true
libraries = [ "ScoreKeeper" ]
dependencies = [ "Dependencies", "ErrorReportingClientPackageLibrary", "GRDB", "GRDBDatabasePackageLibrary" ]

[libraries.DatabaseModels]
skip_tests = true
libraries = [ "Models" ]
dependencies = [ "Dependencies", "GRDB" ]

[libraries.DateTime]

[libraries.FeatureAction]
skip_tests = true
dependencies = [ "ComposableArchitecture" ]

[libraries.FeatureFlags]
skip_tests = true
dependencies = [ "FeatureFlagsPackageLibrary", "FeatureFlagsPackageServiceInterface" ]

[libraries.ListContent]
libraries = [ "Views" ]
dependencies = [ "ComposableArchitecture" ]

[libraries.Models]
libraries = [ "ScoreKeeperModels" ]
dependencies = [ "IdentifiedCollections" ]
[libraries.Models.tests]
dependencies = [ "Dependencies" ]

[libraries.ModelsViews]
libraries = [ "Assets", "Models", "Strings" ]

[libraries.PickableModels]
libraries = [ "Models", "ResourcePicker" ]

[libraries.Products]
skip_tests = true

[libraries.Reordering]
libraries = [ "FeatureAction" ]
dependencies = [ "IdentifiedCollections" ]

[libraries.Repository]
libraries = [ "Sorting" ]
dependencies = [ "AsyncAlgorithms" ]

[libraries.ResourceList]
libraries = [ "ComposableExtensions", "FeatureAction", "ListContent" ]
dependencies = [ "EquatablePackageLibrary", "SwiftUIExtensionsPackageLibrary" ]

[libraries.ResourcePicker]
libraries = [ "ComposableExtensions", "FeatureAction", "ListContent" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[libraries.ScoreKeeper]
libraries = [ "ScoreKeeperModels" ]

[libraries.ScoreKeeperModels]

[libraries.ScoreSheet]
libraries = [ "Models", "Views" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[libraries.Sorting]

[libraries.SortOrder]
libraries = [ "FeatureAction", "Views" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[libraries.Statistics]
libraries = [ "Models", "Strings" ]
[libraries.Statistics.tests]
dependencies = [ "Dependencies" ]

[libraries.StatisticsCharts]
libraries = [ "Assets", "DateTime", "Statistics" ]
dependencies = [ "SwiftUIExtensionsPackageLibrary" ]

[libraries.StatisticsChartsMocks]
skip_tests = true
libraries = [ "StatisticsCharts" ]
dependencies = [ "Dependencies" ]

[libraries.StatisticsModels]
libraries = [ "DatabaseModels", "Statistics" ]
[libraries.StatisticsModels.tests]
services = [ "Database" ]
libraries = [ "TestDatabaseUtilities" ]

[libraries.StatisticsWidgets]
libraries = [ "StatisticsChartsMocks" ]

[libraries.Strings]

[libraries.TestDatabaseUtilities]
suitable_for_dependents_matching = "\\w+Tests$"
skip_tests = true
libraries = [ "DatabaseMigrations", "DatabaseModels" ]
dependencies = [ "GRDBDatabaseTestUtilitiesPackageLibrary" ]

[libraries.Tips]
libraries = [ "Views" ]

[libraries.Toast]
libraries = [ "Assets" ]
dependencies = [ "ToastUI", "ComposableArchitecture" ]

[libraries.Views]
libraries = [ "Assets", "Strings" ]

# Dependency Versions

[shared.refs.CocoaLumberjack]
url = "https://github.com/CocoaLumberjack/CocoaLumberjack.git"
from = "3.8.5"

[shared.refs.SwiftUtilities]
url = "https://github.com/autoreleasefool/swift-utilities.git"
from = "2.4.1"

[shared.refs.Dependencies]
url = "https://github.com/pointfreeco/swift-dependencies.git"
from = "1.3.1"

# External Dependencies

[dependencies.ToastUI]
url = "https://github.com/quanshousio/ToastUI.git"
from = "4.0.0"

[dependencies.Algorithms]
url = "https://github.com/apple/swift-algorithms.git"
from = "1.2.0"

[dependencies.AsyncAlgorithms]
url = "https://github.com/apple/swift-async-algorithms.git"
from = "1.0.0"

[dependencies.CocoaLumberjack]
dep_ref = "CocoaLumberjack"
[dependencies.CocoaLumberjackSwift]
dep_ref = "CocoaLumberjack"

[dependencies.Collections]
url = "https://github.com/apple/swift-collections.git"
from = "1.1.3"

[dependencies.ComposableArchitecture]
url = "https://github.com/pointfreeco/swift-composable-architecture.git"
from = "1.11.2"

[dependencies.Dependencies]
dep_ref = "Dependencies"
[dependencies.DependenciesMacros]
dep_ref = "Dependencies"

[dependencies.GRDB]
url = "https://github.com/groue/GRDB.swift.git"
from = "6.28.0"

[dependencies.IdentifiedCollections]
url = "https://github.com/pointfreeco/swift-identified-collections.git"
from = "1.1.0"

[dependencies.RevenueCat]
url = "https://github.com/RevenueCat/purchases-ios.git"
from = "4.37.0"

[dependencies.SFSafeSymbols]
url = "https://github.com/SFSafeSymbols/SFSafeSymbols.git"
from = "5.3.0"

[dependencies.Sentry]
url = "https://github.com/getsentry/sentry-cocoa.git"
from = "8.36.0"

[dependencies.SnapshotTesting]
suitable_for_dependents_matching = "\\w+Tests$"
url = "https://github.com/pointfreeco/swift-snapshot-testing.git"
from = "1.17.1"

[dependencies.XCTestDynamicOverlay]
url = "https://github.com/pointfreeco/xctest-dynamic-overlay.git"
from = "1.1.2"

[dependencies.ZIPFoundation]
url = "https://github.com/weichsel/ZIPFoundation.git"
from = "0.9.19"

[dependencies.AnalyticsPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.AppInfoPackageService]
dep_ref = "SwiftUtilities"

[dependencies.AppInfoPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.BundlePackageService]
dep_ref = "SwiftUtilities"

[dependencies.BundlePackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.EquatablePackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.ErrorReportingClientPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.ExtensionsPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.FeatureFlagsPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.FeatureFlagsPackageService]
dep_ref = "SwiftUtilities"

[dependencies.FeatureFlagsPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.FileManagerPackageService]
dep_ref = "SwiftUtilities"

[dependencies.FileManagerPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.GRDBDatabasePackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.GRDBDatabasePackageService]
dep_ref = "SwiftUtilities"

[dependencies.GRDBDatabasePackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.GRDBDatabaseTestUtilitiesPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.PasteboardPackageService]
dep_ref = "SwiftUtilities"

[dependencies.PasteboardPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.SentryErrorReportingPackageService]
dep_ref = "SwiftUtilities"

[dependencies.StoreReviewPackageService]
dep_ref = "SwiftUtilities"

[dependencies.StoreReviewPackageServiceInterface]
dep_ref = "SwiftUtilities"

[dependencies.SwiftUIExtensionsPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.TelemetryDeckAnalyticsPackageService]
dep_ref = "SwiftUtilities"

[dependencies.TestUtilitiesPackageLibrary]
dep_ref = "SwiftUtilities"

[dependencies.UserDefaultsPackageService]
dep_ref = "SwiftUtilities"

[dependencies.UserDefaultsPackageServiceInterface]
dep_ref = "SwiftUtilities"

# Default Imports

[defaults.features]
services = [ "Analytics", "Logging" ]
libraries = [ "FeatureAction" ]
dependencies = [ "ComposableArchitecture" ]

[defaults.features.tests]
dependencies = [ "SnapshotTesting" ]

[defaults.repositories]
services = [ "Database" ]
libraries = [ "DatabaseModels", "Repository" ]

[defaults.repositories.interface]
libraries = [ "Models" ]
dependencies = [ "Dependencies" ]

[defaults.repositories.tests]
services = [ "Database" ]
libraries = [ "TestDatabaseUtilities" ]
dependencies = [ "SnapshotTesting", "TestUtilitiesPackageLibrary" ]

[defaults.services.interface]
dependencies = [ "Dependencies" ]

[defaults.services.tests]
dependencies = [ "SnapshotTesting" ]

[defaults.libraries.tests]
dependencies = [ "SnapshotTesting" ]
