#include "./Base/WatchOS.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = $(ASSETCATALOG_COMPILER_APPICON_NAME_$(CONFIGURATION))
ASSETCATALOG_COMPILER_APPICON_NAME_Debug = AppIcon-Debug
ASSETCATALOG_COMPILER_APPICON_NAME_Release = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
DEVELOPMENT_ASSET_PATHS = "ApproachWatchOS/Preview Content"
INFOPLIST_KEY_CFBundleDisplayName = Approach for WatchOS
INFOPLIST_KEY_WKCompanionAppBundleIdentifier = ca.josephroque.approach
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(CONFIGURATION))
PRODUCT_BUNDLE_IDENTIFIER_Debug = ca.josephroque.approach.debug.watchkitapp
PRODUCT_BUNDLE_IDENTIFIER_Release = ca.josephroque.approach.watchkitapp
